@media screen and (min-width:992px) and (max-width:1140px) {
    .container{width: 992px;}
}
@media screen and (min-width:768px) and (max-width:992px) {
    .container{ width: 768px;}
}

@media screen and (min-width:500px) and (max-width:768px) {
    .container{width: 500px;}
}

@media (max-width:500px) {
    .container{width: 450px;}
}
